extends layout
block content
  h1=title

  h2 Choose an API
  :markdown
    ### TODO
    1. 导出一份现有的doc api 到 json中，看看痛点
    2. 看下的约束doc格式 googlescript等toolset怎么搞
    3. 看下doc 怎么sync 到 这里的json配置中（初步：googlescript post processed json to here）
    4. 看下怎么定制化 view 层，来个豌豆主题
    5. 引入打分机制，看看哪些api 常用并且好用！

  ul
     - for (var api in apiInfo)
         li: a(href = api) #{apiInfo[api].name}
